<!DOCTYPE html>
<html>
    <head>
        <title><%= locals.pageMsg.home_title %></title>
        <meta name="Keywords" content="<%= locals.pageMsg.home_keyword %>" />
        <meta name="Description" content="<%= locals.pageMsg.home_description %>" />
        <link rel='stylesheet' href='/stylesheets/fhome.css' />
        <link rel='stylesheet' href='/stylesheets/fheaderFooter.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fhome">

            <!-- 头部&导航栏 -->
            <%- include ../component/fnavbar %>

            <!-- 轮播图 -->
            <div class="layui-carousel" id="fhome-carousel">
                <div carousel-item>
                    <img src="/images/test3.png" alt="">
                    <img src="/images/test2.jpg" alt="">
                    <img src="/images/test1.jpg" alt="">
                </div>
            </div>

            <!-- 数字信息 -->
            <div class="fhome-num">
                <div class="fhome-numItem">
                    <p class="fhome-numItemT">2003</p>
                    <p class="fhome-numItemB">成立</p>
                </div>
                <div class="fhome-numItem">
                    <p class="fhome-numItemT">2000+</p>
                    <p class="fhome-numItemB">服务</p>
                </div>
                <div class="fhome-numItem">
                    <p class="fhome-numItemT">2000+</p>
                    <p class="fhome-numItemB">客户</p>
                </div>
                <div class="fhome-numItem">
                    <p class="fhome-numItemT">100+</p>
                    <p class="fhome-numItemB">产品</p>
                </div>
            </div>

            <!-- 产品列表 -->
            <div class="fhome-block fhome-product">
                <div class="fhome-blockInner">
                    <div class="fhome-blockTitle">产品展示<span>| PRODUCT</span>
                        <button class="layui-btn layui-btn-sm moreBtn-product"><a href="/fproduct">更多</a></button>
                    </div>
                    <div class="fhome-productMsg">

                        <% for(var i=0;i<8;i++){ %>
                            <div class="fhome-productItem">
                                <img src="<%= locals.sortArr[i].img_url %>" alt="">
                                <div class="fhome-productItemTxt">
                                    <h3><%= locals.sortArr[i].name %></h3>
                                    <p>
                                        <%= locals.sortArr[i].description %>
                                    </p>
                                </div>
                            </div>
                        <% } %>
                        
                    </div>
                </div>
            </div>

            <!-- 关于我们 -->
            <div class="fhome-block fhome-about">
                <div class="fhome-blockInner">
                    <div class="fhome-aboutTitle">
                        <div>关于我们<span>| ABOUT</span></div>
                    </div>
                    <div class="fhome-aboutMsg">
                        <%= locals.aboutMsg.company_detail %>
                    </div>

                    <button class="layui-btn layui-btn-sm moreBtn-about">更多</button>
                    
                    <img src="/images/login.jpg" alt="">
                </div>
            </div>

            <!-- 资讯中心 -->
            <div class="fhome-block fhome-news">
                <div class="fhome-blockInner">
                    <div class="fhome-blockTitle">资讯中心<span>| NEWS</span>
                        <button class="layui-btn layui-btn-sm moreBtn-news">更多</button>
                    </div>
                    <div class="fhome-newsMsg">

                        <% for(var i=0;i<locals.newsList.length;i++){ %>
                            <div class="fhome-newsItem">
                                <img src="/images/login.jpg" alt="">
                                <div class="fhome-newsItemTxt">
                                    <h3><%= locals.newsList[i].title %></h3>
                                    <div class="fhome-newsItemContent">
                                        <%= locals.newsList[i].content_txt %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                        
                    </div>
                </div>
            </div>

            <!-- 联系我们 -->
            <div class="fhome-block fhome-contact">
                <div class="fhome-blockInner">
                    <div class="fhome-blockTitle">联系我们<span>| CONTACT</span></div>
                    <div class="fhome-blockContent fhome-blockContentContact">
                        <div class="fhome-contactMsg">
                            <div class="fhome-contactMsgTitle"><%= locals.companyMsg.company_name %></div>
                            <ul>
                                <li>地址：<%= locals.companyMsg.address %></li>
                                <li>邮编：<%= locals.companyMsg.post_code %></li>
                                <li>电话：<%= locals.companyMsg.phone %></li>
                                <li>邮箱：<%= locals.companyMsg.email %></li>
                            </ul>
                        </div>
                        <div class="fhome-contactForm layui-form" lay-filter="contact">
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入称呼" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <input type="text" name="phone" required  lay-verify="required" placeholder="请输入联系方式" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea name="desc" placeholder="请输入您的建议" class="layui-textarea"></textarea>
                                </div>
                            </div>
                            <button class="layui-btn contactSubmit">提交</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 底部栏 -->
            <%- include ../component/footer %>
            
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fhome.js"></script>
    <script>
    </script>
</html>