<!DOCTYPE html>
<html>
    <head>
        <title><%= page %></title>
        <meta name="Keywords" content="关键词关键" />
        <meta name="Description" content="网页描述" />
        <link rel='stylesheet' href='/stylesheets/fheaderFooter.css' />
        <link rel='stylesheet' href='/stylesheets/fnews.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fnews">
            <!-- 头部&导航栏 -->
            <% include ../component/fnavbar %>
            
            <!-- 产品列表 -->
            <div class="fnews-content">
                <ul class="layui-nav layui-nav-tree">
                    <li 
                        <% if(locals.renderId == currId ){ %>
                            class="layui-nav-item layui-this"
                        <% }else{ %> 
                            class="layui-nav-item"
                        <% } %> 
                        ><a href="/fnews">全部</a></li>

                    <% for(var i=0;i<locals.sortArr.length;i++){ %>
                        <% var currId = locals.sortArr[i].id %>
                        <li 
                        <% if(locals.renderId == currId ){ %>
                            class="layui-nav-item layui-this"
                        <% }else{ %> 
                            class="layui-nav-item"
                        <% } %> 
                        ><a href="/fnews?id=<%= locals.sortArr[i].id %>"><%= locals.sortArr[i].name %></a></li>
                    <% } %>
                </ul>

                <div class="fnews-main">
                    <div class="fnews-bread">
                        <span class="layui-breadcrumb">
                            <a href="/">首页</a>
                            <a href="/fnews">资讯中心</a>
                            <a><cite>正文</cite></a>
                        </span>
                    </div>
                    <div class="fnews-list">
                        <% for(var i=0;i<locals.newsList.length;i++){ %>
                            <div class="fnews-newsItem">
                                <img src="/images/login.jpg" alt="">
                                <div class="fnews-newsItemTxt">
                                    <h3><%= locals.newsList[i].title %></h3>
                                    <div class="fnews-newsItemContent">
                                        <%= locals.newsList[i].content_txt %>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>

            </div>
            
            <!-- 底部栏 -->
            <%- include ../component/footer %>
            
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fnews.js"></script>
    <script>
    </script>
</html>