<!DOCTYPE html>
<html>
    <head>
        <% for(var i=0;i<locals.sortArr.length;i++){ %>
            <% if(locals.renderId == locals.sortArr[i].id ){ %>
                <title><%= locals.sortArr[i].name %></title>
                <meta name="Keywords" content="<%= locals.sortArr[i].sort_key %>" />
                <meta name="Description" content="<%= locals.sortArr[i].sort_desc %>" />
            <% } %> 
        <% } %>
        <link rel='stylesheet' href='/stylesheets/fheaderFooter.css' />
        <link rel='stylesheet' href='/stylesheets/fproduct.css' />
        <link rel="stylesheet" href="/layui/css/layui.css">    
        <link rel="shortcut icon" href="#" /> 
    </head>
    <body>
        <div class="fproduct">
            <!-- 头部&导航栏 -->
            <% include ../component/fnavbar %>
            
            <!-- 产品列表 -->
            <div class="fproduct-content">

                <ul class="layui-nav layui-nav-tree" lay-filter="productSort">
                    <% for(var i=0;i<locals.sortArr.length;i++){ %>
                        <% var currId = locals.sortArr[i].id %>
                        <li 
                        <% if(locals.renderId == currId ){ %>
                            class="layui-nav-item layui-this"
                        <% }else{ %> 
                            class="layui-nav-item"
                        <% } %> 
                        ><a href="/fproduct?id=<%= locals.sortArr[i].id %>"><%= locals.sortArr[i].name %></a></li>
                    <% } %>
                </ul>
                
                <div class="fproduct-main">
                    <div class="fproduct-bread">
                        <span class="layui-breadcrumb">
                            <a href="/">首页</a>
                            <a href="/fproduct">产品展示</a>
                            
                            <% for(var i=0;i<locals.sortArr.length;i++){ %>
                                <% if(locals.renderId == locals.sortArr[i].id ){ %>
                                    <a><cite><%= locals.sortArr[i].name %></cite></a>
                                <% } %> 
                            <% } %>

                        </span>
                    </div>
                    <div class="fproduct-list">
                        <% for(var i=0;i<locals.productArr.length;i++){ %>
                            <a class="fproduct-productItem" href="/fdetail?id=<%= locals.productArr[i].id %>">
                                <img src="<%= locals.productArr[i].img_url %>" alt="">
                                <div class="fproduct-productItemTxt">
                                    <h3><%= locals.productArr[i].name %></h3>
                                    <p>
                                        <%= locals.productArr[i].detail %>
                                    </p>
                                </div>
                            </a>
                        <% } %>
                    </div>
                </div>

            </div>
            
            <!-- 底部栏 -->
            <%- include ../component/footer %>
            
        </div>
    </body>
    <script src="/layui/layui.js"></script>
    <script src="/jquery/jquery-3.4.1.min.js"></script>
    <script src="/javascript/fproduct.js"></script>
    <script>
    </script>
</html>